@import "../../scss/index.scss";
@import url("../../assets/css/telma.css");

.container-spotify {
  width: $spotify-container;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 15px;

  &__content {
    max-width: $normal-container-size;
    margin: auto;

    .container-upload {
      position: relative;
      margin-bottom: 1.375rem;
      display: block;
      width: 100%;
      cursor: pointer;
      appearance: none;
      border-radius: 0.25rem;
      border-width: 1px;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;

      input {
        position: absolute;
        inset: 0px;
        z-index: 50;
        margin: 0px;
        height: 100%;
        width: 100%;
        cursor: pointer;
        padding: 0px;
        opacity: 0;
        outline: 2px solid transparent;
        outline-offset: 2px;
      }

      &__content{
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        span {
          display: flex;
          height: 2.5rem;
          width: 2.5rem;
          align-items: center;
          justify-content: center;
          border-radius: 9999px;
          border-width: 1px;

          i{
            font-size: 50px;
          }
        }
      }
    }
  }

  &__title {
    max-width: $normal-container-size;
    width: 100%;
    margin: auto;

    p {
      font-family: "Telma-black";
      font-size: 30px;
      text-align: center;
    }
  }

  &__link {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: $normal-container-size;

    .container-button-add {
      button {
        margin-top: 20px;
      }
    }

    input {
      margin: auto;
      width: 60%;
      height: 40px;
      border: 0px solid #343539;
      background: #1d1e22;
      transition: 200ms;
      text-align: center;
      color: $white;

      &:focus {
        outline: none;
      }
    }
  }
}
