@import "../../scss/index.scss";
@import url("../../assets/css/telma.css");

.container-spotify {
  width: $spotify-container;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-top: 15px;

  &__content {
    max-width: $normal-container-size;
    margin: auto;

    iframe {
      width: $normal-container-size;
      border-top-left-radius: $standar-radius;
      border-top-right-radius: $standar-radius;
    }
  }

  &__title {
    max-width: $normal-container-size;
    width: 100%;
    margin: auto;

    p {
      color: azure;
      font-family: "Telma-black";
      font-size: 30px;
      text-align: center;
    }
  }

  &__link {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: $normal-container-size;

    .container-button-add {
      button{
        margin-top: 20px;
      }
    }

    input {
      margin: auto;
      width: 60%;
      height: 40px;
      border: 0px solid #343539;
      background: #1d1e22;
      transition: 200ms;
      color: azure;
      text-align: center;

      &:focus {
        outline: none;
      }
    }
  }
}
