@import "../../scss/index.scss";
@import url("../../assets/css/telma.css");

.container-about {
  display: flex;
  flex-direction: column;
  max-width: $normal-container-size - 50;
  margin: auto;

  &__content {
    text-align: right;
    margin: 10px;
    padding: 5px;
    width: 100%;

    span {
      color: $white;
      font-family: "Telma-Variable";
      font-size: $standar-font-size;
      padding: 5px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        background: none !important;
        border: none;
        padding: 0 !important;
        font-family: "Telma-Variable";
        color: $white;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          color: rgb(115, 105, 105);
        }

        i {
          margin-left: 20px;
          margin-top: 2px;
          font-size: 25px;

          &:hover {
            color: $danger;
          }
        }
      }
    }
  }
}

.container-privacy-modal,
.container-about-modal {
  margin: 5px;
  padding: 10px;
}
