@import "../../scss/index.scss";

.container-controls {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;

  &__content {
    width: 95%;

    &__title {
      display: inline-flex;
      width: 50%;
      height: 22px;

      p {
        margin: auto;
        margin-left: -6px;
        font-family: "Telma-Variable";
        color: azure;
        font-size: $standar-font-size;
        letter-spacing: 1px;
      }
      button {
        height: 100%;
        background: none;
        outline: none;
        border: none;
        margin-top: auto;
        cursor: pointer;

        i {
          margin-top: 5.5px;
          margin-left: -5px;
          margin-right: 10px;
          font-size: 14px;
          color: azure;
        }
      }
    }

    &__audio {
      /* margin-top: 5px; */
      height: 22px;
      display: flex;
      align-items: center;

      i {
        color: azure;
        font-size: 17px;
      }
      input {
        margin-left: 5px;
        width: auto;
        height: 5px;
      }
    }
  }
}

