@import "../../scss/index.scss";
@import url("../../assets/css/telma.css");

.container-footer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 80%;
  width: 100%;
  margin: 0px;

  &__content {
    margin: 10px;
    
    span {
      font-family: "Telma-Variable";
      color: aliceblue;
      font-size: 14px;
      text-align: left;
    }
  }
}
