$primary-color: #15131d;
$secondary-color: #101013;
$primary-color-hover: #000000;

$font-light: #fff;
$font-grey: #9e9e9e;
$font-dark: #000;

$border-light-dark: #9e9e9e;
$border-grey-light: #3b3b3b;

$background-primary: $primary-color;
$background-light: #fff;
$background-grey-light: #3b3b3b;
$background-grey: #2d2d2d;
$background-greu-medium: #1c1c1c;
$background-grey-dark: #101010;
$background-grey-dark-light: #141414;
$background-dark: #000;
$background-secondary: #101013;
$border-primary: #282828;

$background-grey-light-hover: #494949;
$background-grey-hover: #3c3c3c;

$danger: #f00;

$dark: #0f1923;
$white: #fff;
$background-color_1: #0f1923;
$background-color_2: #ff4655;
$background-color_3: #fff;

$theme-dark: (
  background: #121212,
  text: #ffffff,
  primary: #ff4655,
);

$theme-light: (
  background: rgb(240, 240, 240),
  text: #000000,
  primary: #ff4655,
);

$theme: $theme-dark;
